.profile {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width     : 250px;
    height    : 320px;
    margin    : 10px;
    text-align: center;
}

.avatar {
    border       : 1px dotted gainsboro;
    border-radius: 50%;
    width        : 120px;
    margin-top   : 10px
}

.name {
    font-size  : 20px;
    font-weight: 700;
}

.tag,
.location {
    color    : rgb(176, 176, 176);
    font-size: 14px;
}

.stats {
    display        : flex;
    justify-content: space-between;
    padding        : 0;
    margin         : 0;
}

.statsItem {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    height        : 30px;
    padding       : 10px 5px;
    border        : 1px dotted lightslategrey;
}

.label {
    display  : block;
    color    : rgb(176, 176, 176);
    font-size: 12px;
}

.quantity {
    display    : block;
    font-size  : 14px;
    font-weight: 700;
}