.friendList {
    width: 280px;
}

.friendListItem {
    display: flex;
    align-items: center;
    border: 1px dotted black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: white;
}

.avatar {
    margin-right: 10px;
    width: 80px;
    border-radius: 4px;
    padding: 5px;
}

.name {
    font-size: 20px;
}

.statusOnline {
    width           : 15px;
    height          : 15px;
    border-radius   : 50%;
    background-color: limegreen;
    margin-right: 20px;
}

.statusOffline {
    width           : 15px;
    height          : 15px;
    border-radius   : 50%;
    background-color: red;
    margin-right: 20px;
}